extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-nay
		ul 
			li.item(data-name="dcsdcd")
				a(href="javascript:void(0)" onclick=("alert('dưedwed')"))  djsbckd
			li.item.active(data-name="dcsdcd") djsbckd
			li.item(data-name="dcsdcd") djsbckd
			li.item.tuan(data-name="dcsdcd") djsbckd
	

