<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.my-md-5.border-top
	.container
		.row
			.col-12.col-md
				img.mb-2(src="./img/logo.png" alt="")
				small.d-block.mb-3.text-muted Copyright 2018 by 
					a(href='/') FullStack Vietnam.
				a(href='#') Moblie (+84)984946840


				
			.col-6.col-md
				h5 LINK
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Khoá học Frontend Master
					li
						a.text-muted(href="#") Khoá học Full-Stack
					li
						a.text-muted(href="#") Khoá học design chuyên nghiệp
					li
						a.text-muted(href="#") Lịch Giảng Dạy
					li
						a.text-muted(href="#") Đăng Ký Khoá Học

			.col-6.col-md
				h5 Resources
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Khoá học Frontend Master
					li
						a.text-muted(href="#") Khoá học Full-Stack
					li
						a.text-muted(href="#") Khoá học design chuyên nghiệp
					li
						a.text-muted(href="#") Lịch Giảng Dạ




